/* Estilos globales */
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  text-wrap: balance;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {}

a {
  text-decoration: none;
}

/* Estilos de <section /> */

section {
  margin: 17rem 0;
}

.abount-me {
  display: flex;
  flex-direction: column;
  border-left: 2px solid #000000;
  padding-left: 1rem;
}

.btn-contact {
  display: flex;
}

.principal {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skiils>h3 {
  display: flex;
  gap: 1rem;
}

/* Estilos de <li /> */

li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: .5rem;
  border: .1rem solid;
  border-radius: .5rem;
  gap: .5rem;
}

li>img {
  width: 2rem;
}

.web-list,
.back-list,
.tools-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  gap: 1rem;
}

.web-list>li>p,
.back-list>li>p,
.tools-list>li>p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

/* Estilos de botones del header */

.principal>div {
  color: red;
  display: flex;
  gap: 1rem;
}

.link {
  font-style: normal;
  color: #000;
  text-decoration: none;
  padding: .5rem;
  text-align: center;
  display: flex;
  transition: all 0.3s ease-out;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.link:hover {
  background: #f3f3f3;
  transition: all 0.3s ease-out;
}

/* card */

.projects>div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-container {
  border-radius: 10px;
}

.img-container>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ajusta la imagen sin distorsionarla */
  border-radius: .5rem;
  aspect-ratio: 16 / 9;
}

.description {
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  gap: .5rem;
}

.gh-anchor {
  border: 1px solid #000;
  font-weight: bold;
  transition: all 0.3s ease-out;
}

.gh-anchor:hover {
  background: #f3f3f3;
}

.docker-anchor {
  color: #0db7ed;
  border: 1px solid;
  transition: all 0.3s ease-out;
  font-weight: bold;
}

.docker-anchor:hover {
  background: #d0fcff;
}

.web-anchor {
  color: #ef03ff;
  border: 1px solid;
  transition: all 0.3s ease-out;
  font-weight: bold;
}

.web-anchor:hover {
  background: #ffd0fd;
}

.textwithsvg {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*  Tags  */

[class$="-tag"] {
  transition: all 0.2s ease-out;
}

.web-html-tag {
  color: #f26527;
}

.web-html-tag:hover {
  background: #fff5e8;
}

.web-css-tag {
  color: #32a9de;
}

.web-css-tag:hover {
  background: #e8edff;
}

.web-js-tag {
  color: #f7df1e;
}

.web-js-tag:hover {
  background: #ffffd7;
}

.web-react-tag {
  color: #61dafb;
}

.web-react-tag:hover {
  background: #e8faff;
}

.web-tw-tag {
  color: #1da1f2;
}

.web-tw-tag:hover {
  background: #e8eeff;
}

.web-astro-tag {
  color: #ff00ff;
}

.web-astro-tag:hover {
  background: #ffe8ff;
}

.back-nodejs-tag,
.back-expressjs-tag,
.back-nestjs-tag {
  color: #57a745;
}

.back-nodejs-tag:hover,
.back-expressjs-tag:hover,
.back-nestjs-tag:hover {
  background: #efffe8;
}

.tools-docker-tag {
  color: #0db7ed;
}

.tools-docker-tag:hover {
  background: #d0fcff;
}

.tools-git-tag {
  color: #f15233;
}

.tools-git-tag:hover {
  background: #fff5e8;
}

.tools-github-tag {
  color: #181717;
}

.tools-github-tag:hover {
  background: #e8edff;
}

.tools-typescript-tag {
  color: #007acc;
}

.tools-typescript-tag:hover {
  background: #d0fcff;
}


.web-list>li,
.back-list>li,
.tools-list>li {}


.tools-database-tag {
  color: #336791;
}

.tools-database-tag:hover {
  background: #e8edff;
}

.tools-linux-tag {
  color: #0db7ed;
}

.tools-linux-tag:hover {
  background: #d0fcff;
}

.tools-npm-tag {
  color: #cb3837;
}

.tools-npm-tag:hover {
  background: #ffd6d6;
}


@media (max-width: 768px) {
  .principal {
    margin-top: 5rem;
  }

  .card {
    margin-bottom: 1.5rem;
    /* Añadir más espacio entre las tarjetas de proyectos */
  }

  .web-list,
  .tools-list,
  .back-list {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
